a {
  color: inherit;
  text-decoration: none;

}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  cursor: crosshair;
}

#logo {
  position: fixed;
  cursor: grab;
  right: 40px;
  top: 40px;
  rotate: 10deg;

  animation: rotation 10s linear infinite;
}

@keyframes rotation {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

#logo:active {cursor: grabbing;}

.galerie img {
  width: 100%;
}

.boite-desc {
  position: fixed;
  visibility: hidden;
  bottom: 40px;
  right: 40px;

  width: 320px;

  padding: 21px;
  border-radius: 11px;

  background-color: #ffffffbe;

  outline: none;
  overflow-wrap: break-word;

  font-weight: 300;

  cursor: text;
  transition: transform 0.2s ease-in-out;
  animation: apparition 0.5s ease 1.5s forwards;
  transform-origin: bottom right;
}

.boite-desc:hover {
  transform: scale(1.1);
}

@keyframes apparition {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}



.boite-desc p {
  font-size: 18px;

  margin: 0;
  padding: 0;
}



.liste {
  list-style: none;
  position: fixed;

  top: 30px;
  left: 40px;

  font-size: 24px;
  font-weight: 700;
}

.liste ul {
  padding: 0;
  margin: 0;
}

.liste li {
  display: flex;

  gap: 10px;

  padding-top: 5px;
}


.projet {
  display: flex;
}

.anim-texte {
  transition: transform 0.3s ease-in-out;
}

.anim-texte:hover {
  transform: translateX(10px);
}

.violet {
  color: #EA00FF;
}

.rouge {
  color: #FF0000;
}

.bleu {
  color: #0015FF;
}

.noir {
  color: #000000;
}

footer {
  color: white;
  font-size: 12px;
  mix-blend-mode: difference;
}

footer a {
  cursor: help;
}

.contact {
  position: fixed;
  left: 45px;
  bottom: 13px;
  text-decoration: underline;
}

.info {
  position: fixed;
  right: 45px;
  bottom: 13px;
}

.info a {
  text-decoration: underline;
}

.tournable {
  animation: tourner 2s linear infinite;
  animation-play-state: paused;
  transform-origin: center;
}

.anim-texte:hover .tournable{
  animation-play-state: running;
}

@keyframes tourner {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .boite-desc {
    width: 130px;
    right: 20px;
    padding: 13px;
    padding-right: 10px;
  }

  .liste {
    font-size: 20px;
    left: 20px;
    top: 20px;
  }

  footer {
    font-size: 10px;
  }

  .contact {
    left: 20px;
  }

  .info {
    right: 20px;
  }

  .boite-desc p {
    font-size: 14px;
  }
}

#heure {
  position: fixed;
  bottom: 13px;
  left: 50%;
  transform: translateX(-50%);
}

.points {
  animation: clignoter 1s infinite;
}

@keyframes clignoter {

  0%,
  50% {
    opacity: 1;
  }

  51%,
  100% {
    opacity: 0;
  }
}